.DS_Store
**/.DS_Store

Week09-NodeJS/01-Activities/02-Day_Filesystem/18-Stu_Package-npm/Unsolved/node_modules
Week09-NodeJS/01-Activities/02-Day_Filesystem/20-Stu_Inquirer-Users/Unsolved/node_modules
Week09-NodeJS/01-Activities/03-Day_ES6/28-Stu_Mini-Project/Main/node_modules
Week09-NodeJS/02-Challenge/Develop/node_modules
Week10-OOP/01-Activities/02-Test_Driven_Development/14-Stu_Failing-Test/Unsolved/node_modules
